name: flutter_segment_sdk
description: Flutter implementation of Segment Analytics for iOS, Android and Web
version: 3.13.2
homepage: https://vialerapp.com
repository: https://github.com/vialer/flutter-library-segment
issue_tracker: https://github.com/vialer/flutter-library-segment/issues
documentation: https://github.com/vialer/flutter-library-segment#readme

environment:
  sdk: '>=3.3.0 <4.0.0'
  flutter: ">=3.1.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  meta: ^1.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  lint: ^2.3.0

flutter:
  plugin:
    platforms:
      android:
        package: com.example.flutter_segment
        pluginClass: FlutterSegmentPlugin
      ios:
        pluginClass: FlutterSegmentPlugin
      web:
        pluginClass: SegmentWeb
        fileName: segment_web.dart
